<div class="card card-body">
  <h3>Student Details</h3>
  <form action="/students" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    {{!-- <div class="form-group">
      <label for="details">Student ID</label>
      <textarea class="form-control" name="details"></textarea>
    </div> --}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>